@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans+Condensed:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans Condensed', sans-serif;
}

.hamburguer{

    right: 100%;
}

.navbar{

    display: flex;
    align-items:center;
    padding: 1rem;

}

nav {

    flex: 1;
    text-align: right;
}

nav ul{

    display: inline-block;
    list-style-type: none;
}

nav ul li{

    display: inline-block;
    margin-right: 1rem;

}
a{
    text-decoration: none;
    color: #555555;
}
p{
    color: #555555;
}
.container{

    max-width: 1300px;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
}
.row{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 2rem;
}
.col-2 img{
    max-width: 100%;
}
.col-2 h1{
    font-size: 2rem;
    line-height: 35px;
    margin: 20px 0;
}
.btn {

    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{

    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 2rem;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.col-4{
    flex-basis: 25%;
    padding: 25px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{

    width: 100%;
    
}

.small-container .title{

    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    color: #555555;
    line-height: 30px;
    padding-top: 1rem;
}

.small-container .title::after{

    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

h4{

    color: #555555;
    font-weight: 400;
    font-size: 1.3rem;

}

p{
    color: #555555;
    font-size: 1.2rem;
}

.col-4:hover {

    transform: translateY(-5px);
    transition: all 0.5s;
}

.offer{

    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 8px;
    padding: 20px 0;

}


.col-2 small{

    font-size: 1.1rem;
    color: #555555;
}


.col-3 .user{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial .col-3{

    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.testimonial .user img{
    margin-left: 25%;
    width: 50%;
    border-radius: 50%;
    padding: 10%;
}

.brands{
    margin: 3rem auto;
}
.brands .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.brands .col-6{
    width: 10rem;
}
.brands img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.5s;
}
.brands img:hover{
    filter: grayscale(0);
}
.footer{

    background: #000;
    color: #555555;
    font-size: 1rem;
    padding: 60px 0 20px;
    text-align: center;
}
.footer h3{

    padding-bottom: 1.1rem;
    color: #ff523b;
}
.footer ul li{

    list-style: none;
    padding: 0.2rem;
    font-size: 1.2rem;
}
.small-container-copyright{
    text-align: center;
    padding: 10px;
    color: #555555;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    flex-basis: 33%;
}

.img-appstore-googleplay{
    transform: scale(0.5);
    width: 320px;
    align-items: center;
}
.img-appstore-googleplay img{
    padding: 2px;
    margin: 5px;
}

@media only screen and (max-width: 700px){

    .hamburguer{

        position: fixed;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
    }
    
    .hamburguer .line{
    
        width: 100%;
        height: 5%;
        box-shadow: 0.1rem 0.1rem 1px #000;
    }


    .sidebar{

        position: fixed;
        background: #c7b5b2;
        width: 70%;
        height: 100vh;
        margin-top: 0;
        padding-top: 0;
        top: 100%;
        transition: all 0.5s;
    }

    .sidebar .show_menu{
        top: 100%;

    }   

    .sidebar .menu ul{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 2rem;
        text-align: center;
        padding-top: 4rem;
    }

    .sidebar .menu ul li{
        padding-bottom: 3rem;
    }

}



